.fondo1{
    background-color: rgb(26, 131, 22);
    font-weight: bold;
}

.fondo2{
    background-color: rgb(32, 160, 28);
    font-weight: bold;
}

.fondo3{
    background-color: rgb(37, 184, 32);
    font-weight: bold;
}

.enlace{
    color: honeydew;
}

.navbar{
    overflow: hidden;
}

#mi-carrusel{
    width: 100%;
    clear: both;
}

#imagen{
    width: 200px;
    height: 200px;
}

.media{
    width: 100%;
}

.media-body{
    width: 50%;
}

.progress-bar{
    border-radius: 0;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    color: honeydew;
}

.facebook{
    background-color: rgb(26, 26, 209);
}

.instagram{
    background-color: rgb(159, 19, 214);
}

.twitter{
    background-color: rgb(1, 247, 255);
}